# Enables and disables backups
backup_enabled=1

# User account for the backups. 
user=admin

# Domain of the site
wp_domain=example.com

# Domain and user are used to organize the backups folder. Handy for when there is multiple sites on a single user account.

# Directory that WordPress is installed at
wp_root=/home/admin/example.com/public_html

# Optional: backup only these files & directories to be included
# Example (all WP): wp-* favicon.ico index*
# Example (only user content): wp-content wp-config*
file_list="wp-* favicon.ico index*"

# Backup location
backup_location=/backups

# Keep days is the number of backups to keep. 
# Add a 1 to this number and that is how many backups will be stored before rotation.

keepdays=2
